<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>

      <% departamento.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
      <% end %>

  <% end %>

  <div class="row">
    <div class="col-sm-8">
     <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, class:"form-control"%>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit texto_da_acao, class:"btn btn-primary"%>
  </div>
<% end %>
